$color-letras: white;

*{
    padding: 0;
    margin: 0;
    border: 0;
}

.a-main-efecto:hover{
    background-color: #FFFFFF80;
    color: black;
    font-size: 15px;
    transition: all 1s ease-out;
}

/* CSS 320PX */
@media all and (min-width: 320px){
    .header-inicio{
        background-color: black;
        text-align: center;
        justify-content: center;
        height: 100%;
    }

    .main-inicio{
        height: 100vh;
        height: 100%;
        background-color: black;

        h1{
            padding: 1em;
            text-align: center;
            color: $color-letras;
    
        }
        
        .section-main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 1em;
        }
         .article-main{
            height: 100%;
            width: 90%;
            background-image: url(/img/c-r-o-rock.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav-main{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .li-main{
        list-style: none; 
         .a-main{
            text-decoration: none;
            color: $color-letras;
            font-weight: 1000;
        }
   }

    .a-main-efecto{
        text-decoration: none;
        color: $color-letras;
        text-shadow: 2px 2px 4px #000000;
        font-weight: 1000;
        padding: 0.5em;
        border: 2px solid $color-letras;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .li:hover{
        background-color: black;
    }

    .footer-inicio{
        text-align: center;
        padding: 1em;
        background-color: black;
        height: 100%;

        .p-footer{
            color: $color-letras;
            font-weight: 1000;
        }
    }

    .article-bio {
        p{
            color: $color-letras;
            text-align: center;
            font-size: x-large;
        }

        .article-img-bio{
            text-align: center;
         }
    }
        
    .figc-galeria{
        text-align: center;
        padding: 1em;
        color: $color-letras;
    }

    .article-form{
        padding: 1em;
    }

    .section-contacto{
        height: 100vh;
    }

    .padding-img{
        border: $color-letras solid 2px;
        box-shadow: 10px 10px $color-letras;
        margin: 2em;
    }
}

/* CSS 768PX */
@media all and (min-width: 768px){
    .figure-header {
        img{
            width: 20%;
        }
    }
    

    .article-img-bio {
        img{
            width: 50%;
        }
    }
    
}