
@import 'colores';
@import 'medidas';

*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* CSS 320PX */
@media all and (min-width: 320px){
    .a-main-efecto:hover{
    background-color: #FFFFFF80;
    color: $color-negro;
    font-size: 20px;
    transition: all 1s ease-out;
    transition-delay: 1ms;
}

.tamano-iframe{
    width: $altura-ancho-100;
    height: 352px;
}

.navbar-custom {
    background-color: $color-negro !important;
    
    .navbar-toggler{
        background-color: $color-blanco;
    }
    
    .nav-item{
    padding: 0.2em;
    margin: 0.5em;
    border: 1px $color-blanco solid;
    text-align: center;
    width: $altura-ancho-100;
    height: $altura-ancho-100;

    .nav-link{
    color: $color-blanco !important;

        .active{
            background-color: $color-gris;
            font-size: x-large;
            font-weight: 600;
            }
    }
}
}

.nav-item:hover{
    background-color: $color-gris;
    transition: all ease 0.4s;
    font-size: large;
    font-weight: 600;
}

    .header-inicio{
        background-color: $color-negro;
        text-align: center;
        justify-content: center;
        height: $altura-ancho-100;

        .figure-header{
            height: $altura-ancho-100;
        }
    }

    .main-inicio{
        height: 100vh;
        height: $altura-ancho-100;
        background-color: $color-negro;

        h1{
            padding: 1em;
            text-align: center;
            color: $color-blanco;
    
        }
        
        .section-main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 1em;
        }
         .article-main{
            height: $altura-ancho-100;
            width: 90%;
            background-image: url(/img/c-r-o-rock.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav-main{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .li-main{
        list-style: none; 
         .a-main{
            text-decoration: none;
            color: $color-blanco;
            font-weight: 1000;
        }
   }

    .a-main-efecto{
        text-decoration: none;
        color: $color-blanco;
        text-shadow: 2px 2px 4px #000000;
        font-weight: 1000;
        padding: 0.5em;
        border: 2px solid $color-blanco;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .li:hover{
        background-color: $color-negro;
    }

    .footer-inicio{
        text-align: center;
        padding: 1em;
        background-color: $color-negro;
        height: $altura-ancho-100;

        .p-footer{
            color: $color-blanco;
            font-weight: 1000;
        }
    }

    .article-bio {
        .parrafo-bio{
            color: $color-blanco;
            text-align: center;
            font-size: x-large;
            margin: 0;
            padding: 1em;
        }

        .article-img-bio{
            text-align: center;
         }
    }
        
    .figc-galeria{
        text-align: center;
        padding: 1em;
        color: $color-blanco;
    }

    .article-form{
        padding: 1em;
    }

    .section-contacto{
        height: 100vh;
    }

    .padding-img{
        border: $color-blanco solid 2px;
        box-shadow: 10px 10px $color-blanco;
        margin: 2em;
    }
}

/* CSS 768PX */
@media all and (min-width: 768px){
    .figure-header {
        img{
            width: 20%;
        }
    }
    

    .article-img-bio {
        img{
            width: 50%;
        }
    }

    .nav-item:hover{
        background-color: $color-gris;
        transition: all ease 0.4s;
        font-size: large;
        font-weight: 600;
    }
    
    .active{
        background-color: $color-gris;
        font-weight: 600;
        font-size: medium;
    }

    .nav-center{
        justify-content: center;
        text-align: center;
    }
    
}